<h1>Message Data</h1>

<h3>Browse</h3>

<table
  class="table table-bordered table-centered table-striped messagedata-table"
  id="messagedata-table"
  name="messagedata-table"
>
  <thead>
    <tr>
      <th>Message ID</th>
      <th>Data Model</th>
      <th>Source</th>
      <th>Destination</th>
      <th>Created on</th>
      <th>Updated on</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
